.b1{
  width:300px;
  height:200px;
  background-color: greenyellow;
  padding:20px;
  border:dashed 10px rebeccapurple;
  margin:10px;
}
.b2{
  width:300px;
  height:200px;
  background-color: greenyellow;
  padding:20px;
  border:dashed 10px rebeccapurple;
  margin:10px;
  box-sizing: border-box;
}